
<div class="card">
    <div *ngIf="isUpdateSV" class="card-header">Cập nhật thông tin SV: {{sv.name}}</div>
    <div *ngIf="!isUpdateSV" class="card-header">Thêm thông tin sinh viên</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="svForm">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group m-3">
                    <input class="form-control "
                    placeholder="Họ tên" [formControl]="nameCtrl">
                    <div *ngIf="nameCtrl.errors?.required && (nameCtrl.dirty || nameCtrl.touched)"
                class="alert alert-danger">Tên không được để trống</div>
                    <div *ngIf="nameCtrl.errors?.minlength || nameCtrl.errors?.maxlength && (nameCtrl.dirty || nameCtrl.touched)"
                class="alert alert-danger">Độ dài tên từ 6 đến 50</div>
                </div>
                <div class="form-group m-3">
                    <input class="form-control" [formControl]="ngaysinhCtrl" type="date">
                    <div *ngIf="ngaysinhCtrl.invalid && (ngaysinhCtrl.dirty || ngaysinhCtrl.touched)"
                class="alert alert-danger">Chọn ngày!</div>
                </div>
                <div class="form-group m-3">
                    <select [formControl]="lopCtrl" class="form-control">
                        <option *ngFor="let item of arrLop" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="lopCtrl.invalid && (lopCtrl.dirty || lopCtrl.touched)"
                class="alert alert-danger">Chọn lớp!</div>
                </div>
            </div>
            <div class="col-md-5 m-3">
                <label class="mr-3">Giới tính:</label>
                <mat-radio-group [formControl]="genderCtrl">
                    <mat-radio-button class="mr-2" value="nam">Nam</mat-radio-button>
                    <mat-radio-button class="mr-2" value="nu">Nữ</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
        <div class="card-footer d-flex">
            <button *ngIf="isUpdateSV" [disabled]="svForm.invalid"
            class="btn btn-success ml-3">Sửa</button>
            <button *ngIf="!isUpdateSV" 
            [disabled]="svForm.invalid"
            class="btn btn-success mr-3">Thêm</button>
            <button type='button' class="btn btn-danger ml-auto"
             (click)="closeClick()">Đóng</button>
        </div>
    </form>
    
</div>
